.qualification__container {
  max-width: 768px;
}

.qualification__tabs {
  display: flex;
  justify-content: center;
  margin-bottom: var(--mb-2);
}

.qualification__button {
  font-size: var(--h3-font-size);
  font-weight: var(--font-medium);
  color: var(--title-color);
  margin: 0 var(--mb-1);
  cursor: pointer;
}

.qualification__button:hover {
  color: var(--color-blue);
}

.qualification__icon {
  font-size: 1.8rem;
  margin-right: var(--mb-0-25);
  color: var(--color-blue);
}

.qualification__active {
  color: var(--text-color);
}

.qualification__sections {
  display: flex;
  align-items: center;
  justify-content: center;
}

.qualification__content {
  display: none;
}

.qualification__content-active {
  display: block;
}
.qualification__data-section {
  background-color: var(--color-footer);
  padding: 2rem;
  border: 1px solid var(--container-color);
  border-radius: 1rem;
  width: 600px;
  margin-bottom: 2rem;
}
.qualification__data {
  display: flex;
  column-gap: 2rem;
  justify-content: center;
  align-items: center;
}
.qualification__title {
  font-size: var(--h3-font-size);
  font-weight: var(--font-medium);
  color: var(--title-color);
  margin-bottom: 0.5rem;
}

.qualification__subtitle {
  display: inline-block;
  font-size: var(--small-font-size);
  margin-bottom: 0.5rem;
  color: var(--title-color);
}

.qualification__calender {
  font-size: var(--small-font-size);
}
.qualification__description {
  margin-top: 1rem;
  font-size: var(--small-font-size);
  font-weight: var(--font-light);
  width: 100%;
}
.bx-calendar {
  margin-right: 0.25rem;
  color: var(--color-blue);
}
.qualification__rounder {
  display: none;
  width: 13px;
  height: 13px;
  background-color: var(--title-color);
  border-radius: 50%;
}

.qualification__line {
  display: none;
  width: 1px;
  height: 100%;
  background-color: var(--text-color);
  transform: translate(6px, -7px);
}

/*=============== BREAKPOINTS ===============*/
/* For large devices */
@media screen and (max-width: 992px) {
}
.qualification__container {
  margin-right: auto;
  margin-left: auto;
}

/* For medium devices */
@media screen and (max-width: 768px) {
  .qualification__container {
    margin-right: var(--mb-1-5);
    margin-left: var(--mb-1-5);
  }
  .qualification__data-section {
    max-width: 80%;
  }
}

@media screen and (max-width: 576px) {
  .qualification__data-section {
    width: 400px;
    padding: 2rem;
  }
  .qualification__button {
    margin: 0 var(--mb-0-75);
  }
}

/* For small devices */
@media screen and (max-width: 350px) {
  .qualification__data {
    gap: 0.5rem;
  }
}
