.about__container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  column-gap: 3rem;
}

.about__img {
  width: 400px;
  height: 450px;
  border-radius: 1rem;
  object-fit: cover;
  justify-self: center;
  border: 3px solid var(--container-color);
}

.about__info {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: var(--mb-2);
  column-gap: 1rem;
}

.about__box {
  background-color: var(--color-footer);
  border: 1px solid var(--container-color);
  border-radius: 0.75rem;
  text-align: center;
  padding: 1rem 0;
  width: 150px;
}

.about__icon {
  font-size: 1.2rem;
  color: var(--title-color);
  margin-bottom: var(--mb-0-5);
}

.about__title {
  font-size: var(--small-font-size);
  font-weight: var(--font-medium);
  color: var(--title-color);
}

.about__subtitle {
  font-size: var(--tiny-font-size);
  color: var(--text-color);
}
.about__description {
  margin-bottom: var(--mb-2);
  padding-right: 2rem;
  color: var(--title-color);
  line-height: 1.8rem;
  font-size: var(--normal-font-size);
  font-weight: var(--font-normal);
  text-align: initial;
}

/*=============== BREAKPOINTS ===============*/
/* For large devices */
@media screen and (max-width: 992px) {
  .about__container {
    flex-direction: column;
    row-gap: 2.5rem;
  }
  .about__img {
    width: 260px;
  }
  .about__box {
    padding: 0.75rem 0.5rem;
    width: 20%;
  }
  .about__data {
    text-align: center;
  }
  .about__info {
    justify-content: center;
  }
  .about__description {
    padding: 0 5rem;
    margin-bottom: 2rem;
    text-align: center;
  }
}

/* For medium devices */
@media screen and (max-width: 768px) {
  .about__box {
    width: 20%;
    padding: 0.3rem 0;
  }
  .about__description {
    padding: 0 2rem;
  }
}

@media screen and (max-width: 576px) {
  .about__box {
    width: 50%;
    padding: 0.6rem 0.2rem;
  }
  .about__info {
    column-gap: 1rem;
  }
  .about__description {
    padding: 0;
    text-align: center;
  }
  .about__container {
    width: 88.5%;
  }
}

/* For small devices */
@media screen and (max-width: 350px) {
  .about__info {
    column-gap: 0.5rem;
    padding: 0;
  }
  .about__box {
    width: 100%;
    padding: 0.2rem 0.2rem;
  }
  .about__container {
    width: 100%;
  }
}
