.footer {
  background-color: #161b22;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  width: 100%;
}

.footer__container {
  padding: 2rem 0 6rem;
}

.footer__title,
.footer__link {
  color: var(--title-color);
}

.footer__title {
  text-align: center;
  margin-bottom: var(--mb-2);
}

.footer__link:hover {
  color: var(--color-blue);
}

.footer__list {
  display: flex;
  justify-content: center;
  column-gap: 1.5rem;
  margin-bottom: var(--mb-2);
}

.footer__social {
  display: flex;
  justify-content: center;
  column-gap: 1.25rem;
}

.footer__social-icon {
  background-color: var(--container-color);
  color: var(--title-color-light);
  font-size: 1.125rem;
  padding: 0.4rem 0.75rem;
  border-radius: 0.5rem;
  display: inline-flex;
  align-items: center;
}

.footer__social-icon:hover {
  background-color: var(--color-blue);
  color: var(--container-color);
}

.footer__copy {
  display: block;
  margin-top: 4.5rem;
  text-align: center;
  color: var(--text-color);
  font-size: var(--smaller-font-size);
}

/*=============== BREAKPOINTS ===============*/
/* For large devices */
@media screen and (max-width: 992px) {
  .footer__social-icon {
    font-size: 1rem;
  }
}

/* For medium devices */
@media screen and (max-width: 768px) {
}

@media screen and (max-width: 576px) {
}

/* For small devices */
@media screen and (max-width: 350px) {
}
