.work__filters {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 0.75rem;
  margin-bottom: var(--mb-2);
}
.work__item {
  color: var(--title-color);
  padding: 0.25rem 0.75rem;
  /* background-color: var(--container-color); */
  border-radius: 0.5rem;
  text-transform: capitalize;
  cursor: pointer;
}

.work__item:hover {
  background-color: var(--container-color);
}

.work__container {
  display: grid;
  grid-template-columns: repeat(2, max-content);
  justify-content: center;
  gap: 3rem;
}

.work__card {
  width: 400px;
}
.work__img {
  width: 100%;
  border-radius: 1rem;
  background-color: var(--body-color);
  height: 220px;
}
.work__img-discription {
  display: none;
}

.work__card-discription {
  background-color: var(--color-footer);
  border: 1px solid var(--container-color);
  border-radius: 1rem;
  padding: 1rem 0 1rem 1rem;
  display: flex;
  align-items: center;
  column-gap: 0.5rem;
}
.work__button {
  color: var(--title-color);
  font-size: var(--small-font-size);
  display: flex;
  align-items: center;
  column-gap: 0.25rem;
}
.work__button-icon {
  color: var(--color-blue);
  font-size: 1rem;
  transition: 0.4s;
}

.work__button:hover .work__button-icon {
  transform: translateX(0.25rem);
}
.work__title {
  font-size: var(--normal-font-size);
  font-weight: var(--font-medium);
  margin-bottom: var(--mb-0-5);
  color: var(--title-color);
  margin-right: 5rem;
  margin-left: 0.25rem;
}

.active__work {
  background-color: var(--color-footer);
  border: 1px solid var(--container-color);
}

/*=============== BREAKPOINTS ===============*/
/* For large devices */
@media screen and (max-width: 992px) {
  .work__container {
    gap: 1.5rem;
  }
  .work__card {
    width: 350px;
  }
  .work__img {
    height: 200px;
  }
}

/* For medium devices */
@media screen and (max-width: 768px) {
  .work__container {
    grid-template-columns: max-content;
    row-gap: 3rem;
  }
}

@media screen and (max-width: 576px) {
  .work__container {
    grid-template-columns: 1fr;
    width: 350px;
    align-items: center;
    justify-content: center;
  }
  .work__card {
    width: 100%;
  }
  .work__img {
    width: 350px;
    height: 180px;
  }
  .work__card-discription {
    width: 350px;
    column-gap: 0.25rem;
    padding: 0.75rem 0 0.75rem 0.75rem;
  }
  .work__button {
    column-gap: 0;
    padding-right: 0.4rem;
  }
}

/* For small devices */
@media screen and (max-width: 360px) {
  .work__card-discription {
    width: 100%;
    column-gap: 0;
  }
  .work__card {
    width: 320px;
  }
}
